<aside class="left-sidebar bg-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
        <div class="app-brand">
            <a href="/">
                <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="30"
                    height="33" viewBox="0 0 30 33">
                    <g fill="none" fill-rule="evenodd">
                        <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />
                        <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                    </g>
                </svg>
                <span class="brand-name">{{ site.web_name }}</span>
            </a>
        </div>
        <div class="sidebar-scrollbar">
            <ul class="nav sidebar-inner" id="sidebar-menu">
                <li class="has-sub {{ site.nav_item == 'home' ? 'active' : '' }}">
                    <a href="/" class="sidenav-item-link">
                        <i class="mdi mdi-chart-pie"></i>
                        <span class="nav-text">概 况</span> <b class="caret"></b>
                    </a>
                </li>
                <li class="has-sub {{ site.nav_item == 'pic' ? 'active' : '' }}">
                    <a href="/pic/records" class="sidenav-item-link">
                        <i class="mdi mdi-image-filter"></i>
                        <span class="nav-text">图 片</span> <b class="caret"></b>
                    </a>
                </li>
                <li class="has-sub {{ site.nav_item == 'collection' ? 'active' : '' }}">
                    <a href="/collection/records" class="sidenav-item-link">
                        <i class="mdi mdi-library-books"></i>
                        <span class="nav-text">专 题</span> <b class="caret"></b>
                    </a>
                </li>
                <li class="has-sub {{ site.nav_item == 'mark' ? 'active' : '' }}">
                    <a href="/mark/records" class="sidenav-item-link">
                        <i class="mdi mdi-tag-multiple"></i>
                        <span class="nav-text">标 签</span> <b class="caret"></b>
                    </a>
                </li>
                <li class="has-sub {{ site.nav_item == 'category' ? 'active' : '' }}">
                    <a href="/category/records" class="sidenav-item-link">
                        <i class="mdi mdi-folder-multiple-outline"></i>
                        <span class="nav-text">分 类</span> <b class="caret"></b>
                    </a>
                </li>
                <li class="has-sub {{ site.nav_item == 'recommend' ? 'active' : '' }}">
                    <a href="/recommend/records" class="sidenav-item-link">
                        <i class="mdi mdi-heart-multiple-outline"></i>
                        <span class="nav-text">推 荐</span> <b class="caret"></b>
                    </a>
                </li>
                <li class="has-sub {{ site.nav_item == 'user' ? 'active' : '' }}">
                    <a href="/user/records" class="sidenav-item-link">
                        <i class="mdi mdi-account-box-multiple"></i>
                        <span class="nav-text">用 户</span> <b class="caret"></b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>