{% extends "Template.html" %}

{% block Title %}
最新图片
{% endblock %}

{% block Js %}
<script>
    // 获取图像数据
    var photos      = {{ photos|json_encode()|raw }};
</script>
<!-- build:photos-script -->
<script src="/assets/js/photos.js?{{ site.timestamp }}"></script>
<!-- endbuild -->
{% endblock %}

{% block Content %}
<div class="page">
    {% if prev == 0 %}
        <i data-feather="chevron-left"></i>
    {% else %}
        <a href="/photos/{{ prev }}"><i data-feather="chevron-left"></i></a>
    {% endif %}

    {% if next == 0 %}
        <i data-feather="chevron-right"></i>
    {% else %}
        <a href="/photos/{{ next }}"><i data-feather="chevron-right"></i></a>
    {% endif %}
</div>
{% endblock %}