/.idea

/.vscode

/Manage/.env

/Manage/composer.lock

/Manage/cache

/Manage/vendor

/Manage/public/assets/node_modules

/Manage/public/uploads

/Manage/public/picture

/Manage/public/assets/package-lock.json

/API/.env

/API/composer.lock

/API/vendor

/M/node_modules

/M/package.json

/M/package-lock.json

/M/.babelrc

/M/webpack.config.js

/Web/.env

/Web/vendor

/Web/cache

/Web/public/assets/node_modules

/Web/public/assets/package-lock.json

/Photo/vendor

/Photo/Pic