/.idea

/.vscode

/Manage/.env

/Manage/composer.lock

/Manage/cache

/Manage/vendor

/Manage/public/assets/node_modules

/Manage/public/uploads

/Manage/public/picture

/Manage/public/assets/gulpfile.js

/Manage/public/assets/package.json

/Manage/public/assets/package-lock.json