{% extends "Template.html" %} 

{% block Title %}
列表 - 用户 - {{ site.web_name }}
{% endblock %}

{% block Note %} 
    {% if note is defined %}
    <div class="page-header" id="note">
        <div class="alert alert-{{ note.code }} alert-dismissible" style="margin: 0 auto;min-width: 320px;">
            <button data-dismiss="alert" class="close"></button>
            <h4>系统消息</h4>
            <p>{{ note.text }}</p>
        </div>
    </div>
    <script>
        setTimeout(function () { document.getElementById("note").innerHTML = ''; }, 3000);
    </script> 
    {% endif %} 
{% endblock %} 

{% block Content %}

{% if search is defined %}
<div class="card">
    <div class="card-body">
        <div class="row">
            {% if search_conf is defined %}
                {% for conf in search_conf %}

                    {% set name = ['search', conf.key] | join('_') %}

                    {% if conf.format == 'string' %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label class="form-label">{{ conf.name }}</label>
                            <input type="text" class="form-control" name="search_{{ conf.key }}" value="{{ attribute(search, name) is defined ? attribute(search, name) : '' }}" maxlength="255">
                        </div>
                    </div>
                    {% endif %}
                    {% if conf.format == 'enum' %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label class="form-label">{{ conf.name }}</label>
                            {% set select_value = attribute(search, name) is defined ? attribute(search, name) : -1 %}
                            <select class="form-control" name="search_{{ conf.key }}">
                                <option value="-1">全部</option>
                                {% for p in conf.option %}
                                    {% if loop.index0 == select_value %}
                                    <option value="{{ loop.index0 }}" selected>{{ p }}</option>
                                    {% else %}
                                    <option value="{{ loop.index0 }}">{{ p }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}

                {% endfor %}
            {% endif %}

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="form-label">起始时间</label>
                    <input type="text" class="form-control" id="search_start" name="search_start" value="{{ search.search_start is defined ? search.search_start : '' }}" maxlength="32">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="form-label">结束时间</label>
                    <input type="text" class="form-control" id="search_end" name="search_end" value="{{ search.search_end is defined ? search.search_end : '' }}" maxlength="32">
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <div class="d-flex">
            <a href="/user/records" class="btn btn-link">清 除</a>
            <button type="button" id="search" class="btn btn-primary ml-auto">检 索</button>
            <a href="/user/add" class="btn btn-link">新 增</a>
        </div>
    </div>
</div>
{% endif %}

<div class="card">

    <div class="card-header text-right">
        <h3 class="card-title">用户列表</h3>

        <div class="card-options">
            <label class="custom-switch">
                <input type="checkbox" id="action-switch" class="custom-switch-input">
                <span class="custom-switch-indicator"></span>
                <span class="custom-switch-description">操作列</span>
            </label>
        </div>
    </div>

    <div class="card-body">
        {% if records is defined %}
        <div class="table-responsive">
            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                <caption>{{ page.text }}</caption>
                <thead>
                    <tr>
                        <th class="text-center">基本信息</th>
                        <th class="text-center">用户组</th>
                        <th class="text-center">来源</th>
                        <th class="text-center">创建时间</th>
                        <th class="text-center">最近登录</th>
                        <th class="text-center ant d-none">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in records %}
                    <tr>
                        <td class="text-center">
                            <div>
                                {{ user.name }}
                            </div>
                            <div class="small text-muted">
                                {{ user.phone }}
                            </div>
                            <div class="small text-muted">
                                {{ user.email }}
                            </div>
                            {% if user.is_wechat %}
                            <i class="fa fa-weixin text-success" title="已绑定微信"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <span class="tag tag-{{ attribute(class, user.group) }}">{{ user.group_name }}</span>
                        </td>
                        <td class="text-center">
                            <span class="tag tag-{{ attribute(class, user.client) }}">{{ user.client_name }}</span>
                        </td>
                        <td class="text-center">
                            <div>{{ user.gmt_create }}</div>
                        </td>
                        <td class="text-center">
                            <div>{{ user.last_login }}</div>
                        </td>
                        <td class="text-center ant d-none">
                            <button type="button" class="btn btn-sm btn-outline-primary remove" data-id="{{ user.uuid }}"><i class="fa fa-close mr-2"></i> 删除</button>
                            <a href="/user/modify/{{ user.uuid }}" class="btn btn-sm btn-outline-info"><i class="fa fa-pencil mr-2"></i> 编辑</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        暂无数据。
        {% endif %}
    </div>

    {% if page.link != '' %}
    <div class="card-footer">
        {% autoescape false %} {{ page.link }} {% endautoescape %}
    </div>
    {% endif %}
</div>

{% endblock %}