{% extends "Template.html" %} {% block Title %} 列表 - 用户 - {{ site.web_name }} {% endblock %} {% block Note %} {% if note
is defined %}
<div class="page-header" id="note">
    <div class="alert alert-{{ note.code }} alert-dismissible" style="margin: 0 auto;min-width: 320px;">
        <button data-dismiss="alert" class="close"></button>
        <h4>系统消息</h4>
        <p>{{ note.text }}</p>
    </div>
</div>
<script>
    setTimeout(function () { document.getElementById("note").innerHTML = ''; }, 3000);
</script> {% endif %} {% endblock %} {% block Content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="form-label">姓&nbsp;&nbsp;&nbsp;名</label>
                    <input type="text" class="form-control" name="filter_name" value="{{ filter.filter_name is defined ? filter.filter_name : '' }}" maxlength="32">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="form-label">手机号</label>
                    <input type="text" class="form-control" name="filter_phone" value="{{ filter.filter_phone is defined ? filter.filter_phone : '' }}" maxlength="11">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="form-label">邮&nbsp;&nbsp;&nbsp;箱</label>
                    <input type="text" class="form-control" name="filter_email" value="{{ filter.filter_email is defined ? filter.filter_email : '' }}" maxlength="255">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="form-label">用户组</label>
                    <select class="form-control" name="filter_group">
                        <option value="-1">全部</option>
                        <option value="0">普通用户</option>
                        <option value="1">管理员</option>
                        <option value="2">超级管理员</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="form-label">起始时间</label>
                    <input type="text" class="form-control" id="filter_start" name="filter_start" value="{{ filter.filter_start is defined ? filter.filter_start : '' }}" maxlength="32">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="form-label">结束时间</label>
                    <input type="text" class="form-control" id="filter_end" name="filter_end" value="{{ filter.filter_end is defined ? filter.filter_end : '' }}" maxlength="32">
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <div class="d-flex">
            <a href="/user/records" class="btn btn-link">清 除</a>
            <button type="button" id="filter_submit" class="btn btn-primary ml-auto">检 索</button>
            <a href="/user/add" class="btn btn-link">新 增</a>
        </div>
    </div>
</div>

<div class="card">

    <div class="card-header">
        <h3 class="card-title">用户列表</h3>
    </div>

    <div class="card-body">
        {% if records is defined %}
        <div class="table-responsive">
            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                <caption>{{ page.text }}</caption>
                <thead>
                    <tr>
                        <th class="text-center">基本信息</th>
                        <th class="text-center">用户组</th>
                        <th class="text-center">来源</th>
                        <th class="text-center">最近登录</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in records %}
                    <tr>
                        <td class="text-center">
                            <div>
                                {{ user.name }}
                            </div>
                            <div class="small text-muted">
                                {{ user.phone }}
                            </div>
                            <div class="small text-muted">
                                {{ user.email }}
                            </div>
                            {% if user.is_wechat %}
                            <i class="fa fa-weixin text-success"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <span class="tag tag-{{ attribute(class, user.group) }}">{{ user.group_name }}</span>
                        </td>
                        <td class="text-center">
                            <span class="tag tag-{{ attribute(class, user.client) }}">{{ user.client_name }}</span>
                        </td>
                        <td class="text-center">
                            <div>{{ user.last_login }}</div>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-sm btn-outline-primary btn-delete" data-id="{{ user.uuid }}"><i class="fa fa-close mr-2"></i> 删除</button>
                            <a href="/user/modify/{{ user.uuid }}" class="btn btn-sm btn-outline-info"><i class="fa fa-pencil mr-2"></i> 编辑</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        暂无数据。
        {% endif %}
    </div>

    {% if page.link != '' %}
    <div class="card-footer">
        {% autoescape false %} {{ page.link }} {% endautoescape %}
    </div>
    {% endif %}
</div>

{% endblock %}