<div class="container footer">
    <div class="row">
        <div class="column">
            <h6 class="text-center"><small>&copy; {{ site.web_name }} {{ "now"|date("Y") }}</small></h6>
            <h6 class="text-center"><small><a href="http://www.miitbeian.gov.cn" target="_blank">苏 ICP 备 15001763 号</a></small></h6>
        </div>
    </div>
</div>