<div class="container nav">
    <div class="row">
        <div class="column">
            <ul>
                <li><a href="/" class="button {{ site.nav == 'discover' ? 'button-black' : '' }} button-clear button-middle">Discover</a></li>
                <li><a href="/photos" class="button {{ site.nav == 'photos' ? 'button-black' : '' }} button-clear button-middle">Photo</a></li>
                <li><a href="/marks" class="button {{ site.nav == 'marks' ? 'button-black' : '' }} button-clear button-middle">Mark</a></li>
                <li><a href="/colors" class="button {{ site.nav == 'colors' ? 'button-black' : '' }} button-clear button-middle">Color</a></li>
                <li><a href="/random" class="button {{ site.nav == 'random' ? 'button-black' : '' }} button-clear button-middle">Random</a></li>
            </ul>
        </div>
        <div class="column right">
            <ul>
                <li><a href="/signup" class="button {{ site.nav == 'signup' ? 'button-black' : '' }} button-outline button-middle">Get started</a></li>
                <li><a href="/signin" class="button {{ site.nav == 'signin' ? 'button-black' : '' }} button-clear button-middle">Sign In</a></li>
            </ul>
        </div>
    </div>
</div>