<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>36Photo</title>
        <link rel="stylesheet" href="/assets/node_modules/bulma/css/bulma.css">
        <style>
            .hero {
                background-image: url(/assets/img/bg01.jpg);
                background-position: center center;
                background-repeat:  no-repeat;
                background-attachment: fixed;
                background-size:  cover;
            }
        </style>
    </head>
    <body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                11
            </div>
        </div>
    </section>
    </body>
</html>