<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#4188c9">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <title>登 录 - {{ site.web_name }}</title>
        <link href="/assets/css/next.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="page">
            <div class="page-single">
                <div class="container">
                    <div class="row">
                        <div class="col col-login mx-auto">
                            <div class="text-center mb-6">
                                <img src="./assets/images/brand/logo.png" class="h-6" alt="">
                            </div>

                            <form class="card" action="" method="post">
                                {% if csrf is defined %}
                                <input type="hidden" name="{{ csrf.name_key }}" value="{{ csrf.name }}">
                                <input type="hidden" name="{{ csrf.value_key }}" value="{{ csrf.value }}">
                                {% endif %}
                                <div class="card-body p-6">
                                    <div class="card-title">{{ site.web_name }}欢迎您</div>

                                    <div class="form-group">
                                        <label class="form-label">邮 箱</label>
                                        <input type="email" name="email" class="form-control {{ form_v_error.email is defined ? 'is-invalid' : '' }}" value="{{ form_data.email is defined ? form_data.email : '' }}" placeholder="请输入您的邮箱" required maxlength="255" autocomplete="off">
                                        {% if form_v_error.email is defined %}
                                        <div class="invalid-feedback">
                                            {% for err in form_v_error.email %}
                                                <p>{{ err }}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">密 码</label>
                                        <input type="password" name="password" class="form-control {{ form_v_error.password is defined ? 'is-invalid' : '' }}" placeholder="请输入您的密码" required maxlength="32" autocomplete="off">
                                        {% if form_v_error.password is defined %}
                                        <div class="invalid-feedback">
                                            {% for err in form_v_error.password %}
                                                <p>{{ err }}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-primary btn-block">登 录</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{ include('Common/Footer.html') }}
        </div>
    </body>
</html>