{% extends "Template.html" %}

{% block Content %}
<div class="container" style="padding-top: 4rem;">
    <div class="row">
        <div class="column">
            <dl>
                <dt>大小</dt>
                <dd><em>{{ size }}</em></dd>
                <dt>尺寸</dt>
                <dd><em>{{ width }} * {{ height }}</em></dd>
                <dt>日期</dt>
                <dd><em>{{ gmt_create }}</em></dd>
                <dt>颜色</dt>
                {% for hex in color %}
                    <dd>
                        <a href="/color/{{ hex }}" class="button button-small button-no-radius" style="background-color: #{{ hex }}; border: none;">
                            #{{ hex }}
                        </a>
                    </dd>
                {% endfor %}
                <dt>标签</dt>
                {% for m in mark %}
                    <dd><a href="/mark/{{ m.name }}">{{ m.name }}（{{ m.count }}）</a></dd>
                {% endfor %}
                <dt>分类</dt>
                <dd><a href="/categroy/{{ categroy_code }}">{{ categroy_name }}</a></dd>
            </dl>
            <a href="/photo/d/{{ hash }}" class="button button-outline" download target="_blank">免费下载</a>
        </div>
        <div class="column column-75">
            <img src="{{ photo }}" alt="">
        </div>
    </div>
</div>

{% endblock %}