{% extends "Template.html" %}

{% block Title %}
最新图片
{% endblock %}

{% block Js %}
<script>
    // 获取图像数据
    var photos  = {{ photos|json_encode()|raw }};
    var is_show = "{{ is_show }}";
</script>
<script src="/assets/dist/js/photos-ff2acb1363.js"></script>
{% endblock %}

{% block Content %}
<div id="photo"></div>
<div class="container" style="padding-bottom: 4rem;">
    <div class="row">
        <div class="column">
            <a href="{{ prev }}" class="button button-outline float-right">上一页</a>
        </div>
        <div class="column">
            <a href="{{ next }}" class="button button-outline">下一页</a>
        </div>
    </div>
</div>
{% endblock %}
