<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <title>{% block Title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/dist/css/common-f2565fdea5.css">

    <link rel="stylesheet" href="/assets/dist/css/app-b00ec7229a.css">

    {% block css %} {% endblock %}
</head>

<body class=" ">
    <div class="wrapper ">
        {{ include('Common/Nav.html') }}
        <div class="main-panel">
            {{ include('Common/Header.html') }}

            <div class="content">
                {% block Content %}{% endblock %}
            </div>

            <footer class="footer" style="padding-top: 0;">
                <div class="container-fluid">
                    <p class="text-muted text-center" style="margin-bottom: 0;">Copyright &copy; 2018 {{ site.web_name }}</p>
                </div>
            </footer>
        </div>
    </div>

    <script src="/assets/dist/js/common-79122c5c29.js"></script>

    <script src="/assets/dist/js/app-67cb24445e.js"></script>

    {% block js %} {% endblock %}
</body>

</html>