<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block Title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/dist/css/common-284c7d72c0.css">

    <style>
    .alert {
        position: fixed;
        margin: auto;
        right: 10px;
        top: 80px;
        padding: .8rem 2rem;
    }
    </style>
    {% block css %} {% endblock %}
</head>
<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
    <div class="mobile-sticky-body-overlay"></div>
    <div class="wrapper">
        {{ include('Common/Nav.twig') }}

        <div class="page-wrapper">
            {{ include('Common/Header.twig') }}
            
            <div class="content-wrapper">
                {% block Content %}{% endblock %}
            </div>

            {{ include('Common/Footer.twig') }}
        </div>
    </div>
    
    {{ include('Component/Note.twig') }}
    <script src="/assets/dist/js/common-46a4b10169.js"></script>

    <script src="/assets/dist/js/app-d61f0ceb14.js"></script>

    {% block js %} {% endblock %}
</body>
</html>