{% extends "Template.html" %}

{% block Title %}
新增 - 分类 - {{ site.web_name }}
{% endblock %}

{% block Content %}
<form action="" method="POST" class="card" id="form">
    {% if csrf is defined %}
    <input type="hidden" name="{{ csrf.name_key }}" value="{{ csrf.name }}">
    <input type="hidden" name="{{ csrf.value_key }}" value="{{ csrf.value }}">
    {% endif %}

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">名 称</label>
                    <input type="text" class="form-control {{ form_v_error.name is defined ? 'is-invalid' : '' }}" name="name" value="{{ form_data.name is defined ? form_data.name : '' }}" required maxlength="32" autocomplete="off">
                    {% if form_v_error.name is defined %}
                    <div class="invalid-feedback">
                        {% for err in form_v_error.name %}
                            <p>{{ err }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-label">别 名</label>
                    <input type="text" class="form-control {{ form_v_error.code is defined ? 'is-invalid' : '' }}" name="code" value="{{ form_data.code is defined ? form_data.code : '' }}" required maxlength="16" autocomplete="off">
                    {% if form_v_error.code is defined %}
                    <div class="invalid-feedback">
                        {% for err in form_v_error.code %}
                            <p>{{ err }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <div class="d-flex">
            <a href="/category/add" class="btn btn-warning btn-link">清 除</a>
            <button type="submit" class="btn btn-info ml-auto">保 存</button>
        </div>
    </div>
</form>
{% endblock %}