{% extends "Template.twig" %}

{% block Content %}
<div class="container" style="padding-top: 4rem;">
    <div class="row">
        <div class="column">
            <h3 class="text-center">我年华虚度，空有一身疲惫。</h3>
            <img src="http://www.showsun.net/static/img/b1.jpg">
        </div>
    </div>
</div>
{% endblock %}