<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block Title %} {{ site.web_name }} {% endblock %}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="/assets/dist/css/common-397fe4e956.min.css">
    <link rel="stylesheet" href="/assets/dist/css/app-7c80bb299f.css">    {% block Css %} {% endblock %}
</head>

<body>
    <div id="app">
        {# {{ include('Common/Nav.twig') }} #}
        
        {% block Content %}{% endblock %}

        {{ include('Common/Footer.twig') }}
    </div>

    <script src="/assets/dist/js/common-c87d67d01b.min.js"></script>
    <script src="/assets/dist/js/app-bc17acdec5.js"></script>    {% block Js %} {% endblock %}
</body>

</html>