<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block Title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/dist/css/common-5e7cfea2e1.min.css">

    <link rel="stylesheet" href="/assets/dist/css/app-a073563ed9.css">

    {% block Css %} {% endblock %}
</head>

<body>
    <div id="app">
        {% block Content %}{% endblock %}
    </div>

    <script src="/assets/dist/js/common-79cac7a67e.min.js"></script>

    {% block Js %} {% endblock %}
</body>

</html>