{% extends "Template.html" %}

{% block Title %}
热门标签
{% endblock %}

{% block Content %}
<div class="container">
    {% for mark in marks %}
        {% if loop.index0 % 4 == 0 %}
        <div class="row">
        {% endif %}
            <div class="column" style="padding-left: 6rem;">
                <a href="/mark/{{ mark.name }}" class="mark animated fadeIn">{{ mark.name }}</a>
            </div>
        {% if loop.index0 % 4 == 3 %}
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
