{% extends "Template.html" %} 

{% block Title %}
列表 - 图片 - {{ site.web_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ site.asset_path }}/css/jquery-90d09daacf.datetimepicker.min.css">
{% endblock %}

{% block js %}
<script src="{{ site.asset_path }}/js/jquery.datetimepicker-024dfa4e0b.full.min.js"></script>
{% endblock %}

{% block Content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">云存储</label>
                        {% set select_value = text.oss is defined ? text.oss : -1 %}
                        <select class="form-control" name="search_oss">
                            <option value="-1">全部</option>
                                {% if 0 == select_value %}
                                <option value="0" selected>未上传</option>
                                {% else %}
                                <option value="0">未上传</option>
                                {% endif %}
                                {% if 1 == select_value %}
                                <option value="1" selected>已上传</option>
                                {% else %}
                                <option value="1">已上传</option>
                                {% endif %}
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">分 类</label>
                        {% set select_value = text.category is defined ? text.category : -1 %}
                        <select class="form-control" name="search_category">
                            <option value="-1">全部</option>
                            {% for cate in category %}
                            {% if cate.code == select_value %}
                            <option value="{{ cate.code }}" selected>{{ cate.name }}</option>
                            {% else %}
                            <option value="{{ cate.code }}">{{ cate.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

            {% include 'Component/DateTime.html' %}
        </div>
    </div>
    <div class="card-footer text-right">
        <div class="d-flex">
            <a href="/pic/records" class="btn btn-warning btn-link">清 除</a>
            <button type="button" id="search" class="btn btn-info ml-auto">检 索</button>
            <a href="/pic/add" class="btn btn-success btn-simple ml-2">批量上传</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        {% if records is defined %}
        <div class="table-responsive">
            <table class="table table-hover">
                <caption>{{ page.text }}</caption>
                {% include 'Component/Thead.html' %}
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td class="text-center">
                            <a href="{{ record.path }}" target="_blank">
                                <img src="{{ record.path }}" class="rounded" style="width: 120px;">
                            </a>
                            {% if record.is_oss %}
                            <div><i class="tim-icons icon-cloud-upload-94 text-success" title="已上传至阿里云"></i></div>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="/pic/records?search_category={{ record.category_code }}">{{ record.category_name }}</a>
                        </td>
                        <td class="text-center">
                            {% for mark in record.mark %}
                                <p><a href="/mark/pic?mark={{ mark.id }}">{{ mark.name }}</a></p>
                            {% endfor %}
                        </td>
                        <td class="text-center">
                            <a href="/pic/records?search_uuid={{ record.uuid }}">{{ record.username }}</a>
                        </td>
                        <td class="text-center">
                            <div>{{ record.size }}</div>
                        </td>
                        <td class="text-center">
                            <div>{{ record.gmt_create }}</div>
                        </td>
                        <td class="text-center">
                            <a href="/pic/record?hash={{ record.hash }}" class="btn btn-info btn-sm btn-round btn-icon">
                                <i class="tim-icons icon-link-72"></i>
                            </a>
                            <a href="/pic/modify?hash={{ record.hash }}" class="btn btn-info btn-sm btn-round btn-icon">
                                <i class="tim-icons icon-pencil"></i>
                            </a>
                            <a href="/pic/delete?hash={{ record.hash }}" class="btn btn-danger btn-sm btn-round btn-icon">
                                <i class="tim-icons icon-simple-remove"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        暂无数据。
        {% endif %}
    </div>

    {% if page.link != '' %}
    <div class="card-footer">
        {% autoescape false %} {{ page.link }} {% endautoescape %}
    </div>
    {% endif %}
</div>

{% endblock %}