{% extends "Template.html" %} 

{% block Title %}
列表 - 用户 - {{ site.web_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ site.asset_path }}/css/jquery-90d09daacf.datetimepicker.min.css">
{% endblock %}

{% block js %}
<script src="{{ site.asset_path }}/js/jquery.datetimepicker-024dfa4e0b.full.min.js"></script>
{% endblock %}

{% block Content %}
<div class="content">
    <div class="card card-default">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">姓名</label>
                        <input type="text" class="form-control" name="search_name_~" value="{{ text.name is defined ? text.name : '' }}" maxlength="32">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">昵称</label>
                        <input type="text" class="form-control" name="search_nickname_~" value="{{ text.nickname is defined ? text.nickname : '' }}" maxlength="32">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">手机</label>
                        <input type="text" class="form-control" name="search_phone_~" value="{{ text.phone is defined ? text.phone : '' }}" maxlength="11">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">邮箱</label>
                        <input type="text" class="form-control" name="search_email_~" value="{{ text.email is defined ? text.email : '' }}" maxlength="255">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">用户组</label>
                        {% set select_value = text.group is defined ? text.group : -1 %}
                        <select class="form-control" name="search_group">
                            <option value="-1">全部</option>
                            {% for grou in group %}
                                {% if loop.index0 == select_value %}
                                <option value="{{ loop.index0 }}" selected>{{ grou }}</option>
                                {% else %}
                                <option value="{{ loop.index0 }}">{{ grou }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">用户来源</label>
                        {% set select_value = text.client is defined ? text.client : -1 %}
                        <select class="form-control" name="search_client">
                            <option value="-1">全部</option>
                            {% for clien in client %}
                            {% if loop.index0 == select_value %}
                            <option value="{{ loop.index0 }}" selected>{{ clien }}</option>
                            {% else %}
                            <option value="{{ loop.index0 }}">{{ clien }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
    
                {% include 'Component/DateTime.html' %}
            </div>
            {% include 'Component/Search.html' %}
        </div>
    </div>

    <div class="card card-default">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    {% include 'Component/Thead.html' %}
                    <tbody>
                        {% for user in records %}
                        <tr>
                            <td class="text-center">
                                <div>
                                    {{ user.name }}
                                </div>
                                <div class="small text-muted">
                                    {{ user.phone }}
                                </div>
                                <div class="small text-muted">
                                    {{ user.email }}
                                </div>
                                {% if user.is_wechat %}
                                <i class="fa fa-weixin text-success" title="已绑定微信"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <span class="tag tag-{{ attribute(class, user.group) }}">{{ user.group_name }}</span>
                            </td>
                            <td class="text-center">
                                <span class="tag tag-{{ attribute(class, user.client) }}">{{ user.client_name }}</span>
                            </td>
                            <td class="text-center">
                                <div>{{ user.gmt_create }}</div>
                            </td>
                            <td class="text-center">
                                <div>{{ user.last_login }}</div>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm" role="group" aria-label="">
                                    <a href="/pic/records?search_uuid={{ user.uuid }}" role="button" class="btn btn-square btn-outline-info">
                                        <i class="mdi mdi-file-image mr-1"></i> 图片
                                    </a>
                                    <a href="/user/modify?uuid={{ user.uuid }}" role="button" class="btn btn-square btn-outline-primary">
                                        <i class="mdi mdi-square-edit-outline mr-1"></i> 编辑
                                    </a>
                                    <a href="/user/delete?uuid={{ user.uuid }}" role="button" class="btn btn-square btn-outline-danger">
                                        <i class="mdi mdi-close-circle-outline mr-1"></i> 删除
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include 'Component/Page.html' %}
    </div>
</div>

{% endblock %}