{% extends "Template.html" %} 

{% block Title %}
列表 - 标签 - {{ site.web_name }}
{% endblock %}

{% block Content %}
<div class="card">

    {% include 'Component/Action.html' %}

    <div class="card-body">
        {% if records is defined %}
        <div class="table-responsive">
            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                <caption>{{ page.text }}</caption>
                {% include 'Component/Thead.html' %}
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td class="text-center">
                            <div>{{ record.name }}</div>
                        </td>
                        <td class="text-center">
                            <div>{{ record.count }}</div>
                        </td>
                        <td class="text-center">
                            <div>{{ record.gmt_create }}</div>
                        </td>
                        <td class="text-center ant d-none">
                            <button type="button" class="btn btn-sm btn-outline-primary remove" data-id="{{ record.id }}"><i class="fa fa-close mr-2"></i> 删除</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        暂无数据。
        {% endif %}
    </div>

    {% if page.link != '' %}
    <div class="card-footer">
        {% autoescape false %} {{ page.link }} {% endautoescape %}
    </div>
    {% endif %}
</div>

{% endblock %}