{% extends "Template.html" %} 

{% block Title %}
列表 - 标签 - {{ site.web_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ site.asset_path }}/css/jquery.datetimepicker.min.css">
{% endblock %}

{% block js %}
<script src="{{ site.asset_path }}/js/jquery.datetimepicker.full.min.js"></script>
{% endblock %}

{% block Content %}
<div class="content">
    <div class="card card-default">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">名 称</label>
                        <input type="text" class="form-control" name="search_name" value="{{ text.name is defined ? text.name : '' }}" maxlength="32">
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label class="form-label"><small>分 类</small></label>
                        {% set select_value = text.category is defined ? text.category : -1 %}
                        <select class="form-control" name="search_category">
                            <option value="-1">全部</option>
                            {% for cate in category %}
                            {% if cate.code == select_value %}
                            <option value="{{ cate.code }}" selected>{{ cate.name }}</option>
                            {% else %}
                            <option value="{{ cate.code }}">{{ cate.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% include 'Component/DateTime.html' %}
                {% include 'Component/Sort.html' %}
            </div>
            {% include 'Component/Search.html' %}
        </div>
    </div>

    <div class="card card-default">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    {% include 'Component/Thead.html' %}
                    <tbody>
                        {% for record in records %}
                        <tr>
                            <td class="text-center">
                                <div>{{ record.name }}</div>
                            </td>
                            <td class="text-center">
                                <div>{{ record.count }}</div>
                            </td>
                            <td class="text-center">
                                <div>{{ record.category_name }} - {{ record.category_count }}</div>
                            </td>
                            <td class="text-center">
                                <div>{{ record.gmt_create }}</div>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm" role="group" aria-label="">
                                    <a href="/mark/pic?mark={{ record.id }}" role="button" class="btn btn-square btn-outline-info">
                                        <i class="mdi mdi-file-image mr-1"></i> 图片
                                    </a>
                                    <a href="/mark/modify?id={{ record.id }}" role="button" class="btn btn-square btn-outline-primary" target="_blank">
                                        <i class="mdi mdi-circle-edit-outline mr-1"></i> 编辑
                                    </a>
                                    <a href="/mark/delete?id={{ record.id }}" role="button" class="btn btn-square btn-outline-danger">
                                        <i class="mdi mdi-close-circle-outline mr-1"></i> 删除
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include 'Component/Page.html' %}
    </div>
</div>

{% endblock %}