{% extends "Template.html" %} 

{% block Title %}
列表 - 标签 - {{ site.web_name }}
{% endblock %}

{% block Content %}
<div class="content">
    <div class="card card-default">
        <div class="card-body">
            {% if records is defined %}
            <div class="table-responsive">
                <table class="table table-hover">
                    {% include 'Component/Thead.html' %}
                    <tbody>
                        {% for record in records %}
                        <tr>
                            <td class="text-center">
                                <div>{{ record.name }}</div>
                            </td>
                            <td class="text-center">
                                <div>{{ record.count }}</div>
                            </td>
                            <td class="text-center">
                                <div>{{ record.gmt_create }}</div>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm" role="group" aria-label="">
                                    <a href="/mark/pic?mark={{ record.id }}" role="button" class="btn btn-square btn-outline-info">
                                        <i class="mdi mdi-file-image mr-1"></i> 图片
                                    </a>
                                    <a href="/mark/delete?id={{ record.id }}" role="button" class="btn btn-square btn-outline-danger">
                                        <i class="mdi mdi-close-circle-outline mr-1"></i> 删除
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            暂无数据。
            {% endif %}
        </div>

        {% include 'Component/Page.html' %}
    </div>
</div>

{% endblock %}