<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="/index.html">
                <img src="/assets/images/brand/logo.png" class="header-brand-img" alt="tabler logo">
            </a>

            <div class="d-flex order-lg-2 ml-auto">
                <div class="dropdown">
                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                        <span class="avatar" style="background-image: url(/assets/images/faces/male/1.jpg)"></span>
                        <span class="ml-2 d-none d-lg-block">
                        <span class="text-default">dolphin</span>
                        <small class="text-muted d-block mt-1">超级管理员</small>
                        </span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="#">
                            <i class="dropdown-icon fa fa-user-circle"></i> 主页
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="dropdown-icon fa fa-gear"></i> 设置
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="dropdown-icon fa fa-comments"></i> 消息
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/signout">
                            <i class="dropdown-icon fa fa-power-off"></i> 退出
                        </a>
                    </div>
                </div>
            </div>

            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>