<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <ul class="list-unstyled mb-0">
                            <li><a href="https://github.com">GitHub</a></li>
                            <li><a href="https://github.com/catfan/Medoo">Medoo</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <ul class="list-unstyled mb-0">
                            <li><a href="https://tabler.github.io/">Tabler</a></li>
                            <li><a href="http://docs.guzzlephp.org/en/stable/index.html">Guzzle</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <ul class="list-unstyled mb-0">
                            <li><a href="http://slimframework.com">Slim Framework</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <ul class="list-unstyled mb-0">
                            <li><a href="https://twig.symfony.com">Twig</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                一款优秀的开源解决方案。
            </div>
        </div>
    </div>
</div>