<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="form-group">
        <label class="form-label">起始时间</label>
        <input type="text" class="form-control" id="search_start" name="search_start" value="{{ search.search_start is defined ? search.search_start : '' }}" maxlength="32">
    </div>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="form-group">
        <label class="form-label">结束时间</label>
        <input type="text" class="form-control" id="search_end" name="search_end" value="{{ search.search_end is defined ? search.search_end : '' }}" maxlength="32">
    </div>
</div>