{% extends "Template.html" %} 

{% block Title %}
添加 - 图片 - {{ site.web_name }}
{% endblock %}

{% block Content %}
<div class="card">
    <div class="card-body">
        {% set action = '/pic/upload' %}
        {% if categroy is defined %}
        <h4 class="card-title">分类：{{ categroy.name }}</h4>
        {% set action = '/pic/upload?categroy=' ~ categroy.code %}
        {% endif %}
        <form action="{{ action }}" class="dropzone" id="dropzone" method="POST" enctype="multipart/form-data">
            {% if csrf is defined %}
            <input type="hidden" name="{{ csrf.name_key }}" id="csrf_name" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.value_key }}" id="csrf_value" value="{{ csrf.value }}">
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}